html{
    background-color: #e0fbfd;
    font-family: Arial, Helvetica, sans-serif;
}   
#Topo{ 
    text-align: center;
    height: 100px;
    padding: 13px 0px 0px 0px;
    background-color: #db6516;
    color: white;
}
#rodape{
    text-align: center;
    height: 150px;
    padding: 15px 0px 0px 0px;
    background-color: #db6516;
    color: white;
    margin: 100px 0 0 0;
}
#linkpadrao {
    text-align: center;
    color:white;
}
#linkpadrao:hover {
    color:darkmagenta;
}
#code {
    font-size: 19px;
}

#formatacoes{
    text-align: center;
    font-size: 23px;
    padding: 10px;
}
#explicacao{
    text-align: center;
    font-size: 20px;   
    padding: 10px; 
}
#menu{    
    text-align: center;
    background-color:#c0c0c0;
    height: 40px;
    font-family: 'Times New Roman', Times, serif;
}
#menu ul {
    padding: 10px;
    margin:0px;
    
}
#menu ul li { 
    display: inline;        
}
#menu ul li a {
    padding: 2px 10px;
    color: black;
}
#menu ul li a:hover {
    color:white;
}
#h{ /*HOME*/
    padding: 10px 0 0 0;
    text-align: center;
    font-size: 50px;
    font-family: 'Times New Roman', Times, serif;
}
#titulo_home{ /*SOBRE O BLOG*/
    text-align: center;
    padding: 40px;
    font-size: 35px;
    font-family: 'Times New Roman', Times, serif;
}
#paragrafo_home{ /*PARAGRAFO*/
    text-align: center;
    font-size: 28px;
    padding: 0px 0px 20px 0px;
}
#tag{
    text-align: center;
    padding: 50px 0px 40px 0px;
    font-size: 40px;
    font-family: 'Times New Roman', Times, serif;
}
#explicacao_tag{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    font-size: 25px;
}
#codigo_inicial{
    font-size: 19px;
    height: 10em;
    position: relative
}
#codigo_inicial code{
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%)
}
#tags{
    text-align: center;
    padding: 50px 0px 40px 0px;
    font-size: 40px;
}
#tags_explicacao{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    font-size: 25px;
}
#tags_{
    text-align: center;
    padding: 80px 0px 60px 0px;
    font-size: 35px;
}
#tagss{
    text-align: center;
    padding: 100px 0px 3px 0px;
    font-size: 32px;
}