html{
    text-align: center;
}   
html, body {height:100%;}

body {
    background-image: linear-gradient(to top, #bbeff7,#9ff4ff, #64e5ff);
    background-attachment: fixed;
} 
#Topo{ 
    padding: 0.1px 0 40px 0;
    margin: auto;
    width: auto;
    height: 50px;
    background-color: #db6516;
    color: white;
}
div{
    display: inline-block
}
div p{
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    *font-size: 14px;
}
#menu{    
    text-align: justify;
    color:#9c099c;
    width: auto;
    margin: auto;
    font-family: 'Times New Roman', Times, serif;
    padding: 25px 25px 0 25px;
}
button{
    background-color: rgb(156, 9, 156);
    color: white;
    border-radius: 5px;
    width: 100px;
    padding: 5px;
    margin: auto;
    font-size: 14px;
}
header h1{
    color: whitesmoke;
}
#h1{
    color: rgb(58, 58, 58);
    font-family: 'Times New Roman', Times, serif;
    font-size: 2.3em;
    padding: 25px 0 25px 0;
}
code{
    font-size: 43px;
}
footer{
    position: absolute;
    bottom: 0px;
    width: 100%;
}
a{
    padding: 0 10px 0 0;
}
a img{
    width: auto;
    height: 35px;
}